.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #ee9ca7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffdde1, #ee9ca7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to bottom,
        #ffdde1,
        #ee9ca7
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-container .item {
    width: 33.3%;
    padding: 4%;
}

.navbar-container .item img {
    width: 100%;
}

.navbar-container .item i {
   font-size: 2rem;
}

.navbar-container .item span {
   float: right;
   font-size: 1.2rem;
 }

.navbar-container .item i:hover {
    cursor: pointer;
    transform: scale(1.1);
 }
 
