@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-family: "Quicksand", sans-serif;
}

#table tr:nth-child(even){background-color: rgb(0,0,0, 0.1); }

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-center .item{
   width: 50%;
   padding: 2%;
}

@media screen and (min-width: 1024px) {
    #root {
        height: 100%;
        padding: 0 25%;
    }

    .container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        background-color: #ffdde1;
    }

    section{
        padding: 5%;
    }
    
    .big-logo{
        padding: 5%;
    }

    .big-logo img{
       width: 100%;
    }

   
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    #root {
        height: 100%;
        padding: 0 15%;
    }

    .container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        background-color: #ffdde1;
    }

    section{
        padding: 5%;
    }
    
    .big-logo{
        padding: 5%;
    }

    .big-logo img{
       width: 100%;
    }
}

@media (max-width: 480px) {
    #root {
        height: 100%;
    }

    .container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        background-color: #ffdde1;
    }
    
    section{
        padding: 5%;
    }
    .big-logo{
        padding: 5%;
    }

    .big-logo img{
       width: 100%;
    }
}


.bg-white{
    background-color: #fff;
    color: black;
}

.bg-amour{
    background-color: #ee5253;
}

.bg-pastel{
    background-color: #ff6b6b;
}

.bg-nasu{
    background-color: #5f27cd;
}

.bg-bluebell{
    background-color: #341f97;
}

.bg-imperial{
    background-color: #222f3e;
}

.bg-primary{
    background-color: #ee9ca7;
}

.bg-secondary{
    background-color: #ffdde1;
}