@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-family: "Quicksand", sans-serif;
}

#table tr:nth-child(even){background-color: rgb(0,0,0, 0.1); }

@media screen and (min-width: 1024px) {
    #root {
        height: 100%;
        padding: 0 25%;
    }

    .container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        background-color: #ffdde1;
    }

    section{
        padding: 5%;
    }
    
    .big-logo{
        padding: 5%;
    }

    .big-logo img{
       width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    #root {
        height: 100%;
        padding: 0 15%;
    }

    .container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        background-color: #ffdde1;
    }

    section{
        padding: 5%;
    }
    
    .big-logo{
        padding: 5%;
    }

    .big-logo img{
       width: 100%;
    }
}

@media (max-width: 480px) {
    #root {
        height: 100%;
    }

    .container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        background-color: #ffdde1;
    }
    
    section{
        padding: 5%;
    }
    .big-logo{
        padding: 5%;
    }

    .big-logo img{
       width: 100%;
    }
}
