.section-container{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding:5% 5% 5% 5%;
    line-height: 150%;
}

.section-container span{
    line-height: 80%;
}